<div class="container">
    <div class="row" style="background:#343a40; color:white;">
        <div class="col-lg-12 text-center">
            <p>Developed by Gedeon</p>
        
        </div>
    </div>
</div>