#battle {
    background-image: url('/images/battle.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
}
#displayDmg{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
#fight{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}